<h2>Add movie to database</h2>
<form action="/movies" method="post">
    Title: <input name='movie[title]' type="text" /><br>
    Year: <input name='movie[year]' type="text" /><br>
    <input name="commit" type="submit" value="Create" />
  </form>

  <h2>Add another movie</h2>
<%= render  partial: "form_new" %>