<h3> SEARCH PAGE </h3>



<div>
     <form action="/movies/search/result" method="POST" class="form" role="form">
        <!-- <label for="movie">Search for:</label>  -->
        <div class="form-group">
          <input id="movie" name="movie" type="text" class="form-control" placeholder="&nbsp;Search here, Press enter"/>
        </div>
      </form>

</div>